{% extends 'dashboard-base.html' %}
{% block title %}WSB | Links{% endblock title %}
{% block links %}dashboard-active{% endblock links %}



{% block css %}
<style>
    .offcanvas {
        width: 80vw !important;
    }
    .create-container{
        display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 10px;
    }

    .link-details-container{
        width: 95%;
        height: 90%;
        margin: auto auto;
        overflow: auto;
    }
    
    
</style>
{% endblock css %}


{% block content %}



<!-- Button trigger modal -->
<div class="create-container">
    <button type="button" class="btn btn-primary ml-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create Link 
    </button>
</div>
  
<!--  Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Link</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="/dashboard/links/" method="POST">
        {% csrf_token %}
    <div class="modal-body">
            <div class="mb-3">
                <label for="select-class" class="form-label">Select Class</label>

                <select name="class" required id="select-class" class="form-select" aria-label="Default select example">
                    <option disabled selected>Select Class</option>
                    {% for class in classes %}
                    <option value="{{class.name}}">{{class.name}}</option>
                    {% endfor %}
                  </select>
            </div>
            <div class="row">

                <div class="col-8 mb-4">
                    <label for="expiry" class="form-label">Expires In</label>
                    <input name="expiry" required type="number" class="form-control" id="expiry" placeholder="Expires In">
                </div>
                <div class="col-4 mb-4">
                    <label for="select-time" class="form-label">Select Time</label>
                    
                    <select name="time" required id="select-time" class="form-select" aria-label="Default select example">
                        <option disabled selected>Select Time</option>
                        <option value="seconds">Seconds</option>
                        <option value="minutes">Minutes</option>
                        <option value="hours">Hours</option>
                  </select>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create Link</button>
        </div>
    </form>
    </div>
</div>
</div>




<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Class</th>
        <th scope="col">Code</th>
        <th scope="col">Date</th>
        <th scope="col">Expiry</th>
      </tr>
    </thead>
    <tbody>
    {% load poll_extras  %}

        {% for link in links %}
          
            <tr data-bs-toggle="offcanvas" data-bs-target="#{{link.token|makeClass}}" aria-controls="{{link.token|makeClass}}" style="cursor: pointer;">
                <th scope="row">{{forloop.counter}}</th>
                <td>{{link.class_name}}</td>
                <td>{{link.code}}</td>
                <td>{{link.timestamp}}</td>
                <td>{{link.expiry}}</td>
            </tr>
                        
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="{{link.token|makeClass}}" aria-labelledby="{{link.token|makeClass}}Label">
                <div class="link-details-container">
                    <h2 class="my-3"><b><u>{{link.class_name}}</u></b></h2>
                    <h5 class="my-3"><b>Time Created: </b> {{link.timestamp}}</h5>
                    <h5 class="my-3"><b>Expiry: </b> {{link.expiry}}</h5>
                    <div class="my-3">
                        
                        <p><b>Link: </b> <input onclick="copyText(this)" class="text-primary" style="width: 90%; outline: none; border: none; cursor: pointer;" type="text" readonly="true"   id="{{link.token|makeClass}}-id" value="{{BASE_URL}}attendance/token/{{link.token}}/"> </p>
                    </div>
                    <button onclick="forword('/dashboard/links/{{link.id}}/')" class="btn btn-primary my-3">View</button>
                </div>
            </div>        
        {% endfor %}
        
      
    </tbody>
  </table>
<div >
    
</div>







{% endblock content %}


{% block js %}

<script>
    function copyText(e) {
  /* Get the text field */
    
    var copyElm = e
  /* Select the text field */
  copyElm.focus();
  copyElm.select();
  copyElm.setSelectionRange(0, 99999); /* For mobile devices */

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Your link has been copied successfully!!");
}


function forword(to){
    window.location = to
}
</script>


{% endblock js %}